<span> </span>
<div class="container" style="text-align: center">
  <div class="notification">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{ managementsImage }}" alt="Placeholder image" />
            </figure>
          </div>
          <div class="card-content">
            <div class="container is-fluid">
              <div class="columns">
                <div class="column">
                  <div>
                    <div class="field">
                      <p class="control has-icons-left">
                        <input
                          class="input"
                          [(ngModel)]="vehicleModel.type"
                          type="text"
                          placeholder="Type"
                        />
                        <span class="icon is-small is-left">
                          <i class="fas fa-car"></i>
                        </span>
                      </p>
                    </div>
                    <div class="field">
                      <p class="control has-icons-left">
                        <input
                          class="input"
                          [(ngModel)]="vehicleModel.brand"
                          type="text"
                          placeholder="Brand"
                        />
                        <span class="icon is-small is-left">
                          <i class="fab fa-bandcamp"></i>
                        </span>
                      </p>
                    </div>
                    <div class="field">
                      <p class="control has-icons-left">
                        <input
                          class="input"
                          [(ngModel)]="vehicleModel.model"
                          type="text"
                          placeholder="Model"
                        />
                        <span class="icon is-small is-left">
                          <i class="fab fa-buromobelexperte"></i>
                        </span>
                      </p>
                    </div>
                    <div class="field">
                      <p class="control has-icons-left">
                        <input
                          class="input"
                          [(ngModel)]="vehicleModel.version"
                          type="text"
                          placeholder="Version"
                        />
                        <span class="icon is-small is-left">
                          <i class="far fa-code-commit"></i>
                        </span>
                      </p>
                    </div>
                    <div class="field">
                      <p class="control has-icons-left">
                        <input
                          class="input"
                          [(ngModel)]="vehicleModel.licensePlate"
                          type="text"
                          placeholder="License Plate"
                        />
                        <span class="icon is-small is-left">
                          <i class="fas fa-lock"></i>
                        </span>
                      </p>
                    </div>
                    <div class="field">
                      <p class="control has-icons-left">
                        <input
                          class="input"
                          [(ngModel)]="vehicleModel.km"
                          type="text"
                          placeholder="Km"
                        />
                        <span class="icon is-small is-left">
                          <i class="fas fa-car-crash"></i>
                        </span>
                      </p>
                    </div>
                  </div>
                  <br>
                  <div class="container is-fluid">
                    <div class="columns">
                      <div class="column">
                        <button class="button is-primary">Save</button>
                      </div>
                      <div class="column" (click) = "cleanManagementInputs()">
                        <button class="button is-danger">Clean</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-two-thirds">2</div>
    </div>
  </div>
</div>
